body{
    background-color:#FAFAFA;
}

.container{
    width: 360px;
    height: 420px;
    margin: 4% auto;
    background: #ffff;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.insta-img img{
    position: absolute;
    top: 6%;
    right: 25%;
    left: 25%;
    width: 180px;
    height: 90px;
}